# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.out.dSYM
*.app
webserv

# vscode
.vscode

# jetbrain ide
.idea

# build files
build/
cmake-build-debug/

# put test
multiple_same
file_should_exist_after

# DS_STORE
.DS_Store